.inputField {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#pdfIcon {
  transform: scale(2.5);
  cursor: pointer;
}

.contractMainDiv {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.contractMainDiv h1 {
  margin: 31px;
}
